<div class="container">
    <div class="mt-5">
        <div class="col-12 col-md-6 col-lg-4 mx-auto mt-5">
            <h1 style="font-family: fantasy;text-align: center;" class="mt-5">My Code <span style="color: red;">Blog</span></h1>
            <div class="flex-row mt-5">
                <h3 class="d-flex justify-content-center mt-4"><i class="bi bi-journal-code"></i> Let's get started.</h3>
                <div class=" mt-4 d-grid gap-2">
                    <button type="submit" class="btn btn-primary" (click)="googleSignIn()"><i class="bi bi-google"></i> Login with Google</button>
                </div>
                <div class=" mt-4 d-grid gap-2">    
                    <button class="btn btn-primary" type="button"><i class="bi bi-facebook"></i> Login with Facebook</button>
                </div>

                <div class="card mt-5">
                    <div class="card-body">
                      <blockquote class="blockquote mb-0">
                        <p>It’s not a bug; it’s an undocumented feature.</p>
                        <footer class="blockquote-footer"><cite title="Source Title">Anonymous</cite></footer>
                      </blockquote>
                    </div>
                  </div>
            </div>
            <!-- </form> -->
        </div>
    </div>
</div>
